<h1>{{title}}</h1>
<h3>{{cartInfo}}</h3>
<div>
  <table border="1">
    <thead>
      <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Cantidad</th>
        <th>Precio Unidad</th>

      </tr>
    </thead>
    <tbody>
      {{#each products}}
        <tr>
          <td>{{this.product.code}}</td>
          <td>{{this.product.title}}</td>
          <td>{{this.product.description}}</td>
          <td>{{this.quantity}}</td>
          <td>{{this.product.price}}</td>
          <td>
            <button class="btnDeleteProductFromCart" 
              onclick="deleteProduct('{{../cartId}}', '{{this.product._id}}')"
              >Eliminar</button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <br>
  <button onclick="emptyCart('{{cartId}}')" >Vaciar Carrito</button>
  <br>
  <h4>Total a Pagar:{{totalBuy}}</h4>
</div>
<br />
<a href="/chat">Chat en vivo</a>
<br />
<a href="/products">Tienda</a>
<br />

<script>
    function deleteProduct(cartId, productId) {
        fetch(`/api/carts/${cartId}/products/${productId}`, {
            method: 'DELETE'
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error al eliminar el producto del carrito');
                }
                location.reload();
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    function emptyCart(cartId) {
        fetch(`/api/carts/${cartId}`, {
            method: 'DELETE'
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error al vaciar el carrito');
                }
                location.reload();
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
</script>