<h1>Bienvenid@ {{first_name}} {{last_name}} </h1>
<h4>Email: {{email}}</h4>
<h4>Age: {{age}}</h4>
<h4>Rol: {{role}}</h4>

<form action="/api/users/logout" method="post">
    <button type="submit">Logout</button>
</form>
<form action="/api/users/profile" method="get">
  <button type="submit">Profile</button>
</form>

<br>
<h2>{{title}}</h2>
<div>
  <table border="1">
    <thead>
      <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>En Stock</th>
        <th>Precio</th>
        <th>Propietario</th>
      </tr>
    </thead>
    <tbody>
      {{#each payload}}
        <tr>
          <td>{{this.code}}</td>
          <td>{{this.title}}</td>
          <td>{{this.description}}</td>
          <td>{{this.stock}}</td>
          <td>{{this.price}}</td>
          <td>{{this.owner}}</td>
          <td>
            <img src="{{this.thumbnail}}" alt="Imagen del producto" style="max-width: 100px; max-height: 100px;">
          </td>
          <td>
            Cantidad
          </td>
          <td>            
           <form action="/api/carts/{{../cartId}}/products/{{this._id}}" method="POST" onsubmit="return updateAction(this);">
            <input id="qtInput" type="number" min="1" max="{{this.stock}}" value="1" name="quantity" />
            <button class="btnAddToCart" type="submit">Agregar al Carrito</button>
          </form>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  {{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}&limit={{limit}}&category={{category}}"> Anterior </a>
  {{/if}}
  {{#if hasNextPage}}
    <a href="/products?page={{nextPage}}&limit={{limit}}&category={{category}}"> Siguiente </a>
  {{/if}}
  <p>Pagina {{page}} de {{totalPages}} </p>
<br>
<a href="/api/carts/{{cartId}}"> Ir al Carrito </a>
<br>
<a href="/chat">Chat en vivo</a>


  <script>
    function updateAction(form) {
      let quantity = document.getElementById('qtInput').value;
      form.action += quantity > 1 ? ("?quantity=" + quantity) : "";
      return true;
    }
  </script>
</div>

